<?xml version="1.0" ?>

<openbox_menu>
<menu id="root-menu" label="">
  <item label="kitty"><action name="Execute" command="kitty"/> </item>
  <item label="firefox"><action name="Execute" command="firefox"/></item>
  <item label="codium"><action name="Execute" command="codium"/></item>
  <item label="Reconfigure"><action name="Reconfigure"/></item>
  <item label="Exit"><action name="Exit"/></item>
</menu>
</openbox_menu>
